main {
  background-color: white;
  height: 100%;
  margin: 5px;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 33% 67%;
  grid-template-rows: minmax(35%, auto);
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
}

a {
  color: black;
}

a:visited {
  color: black;
}
