main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: minmax(30%, auto);
  align-items: center;
}

header {
  grid-column-start: 1;
  grid-column-end: 3;
}

.searchBar {
  grid-column-start: 2;
  grid-column-end: 4;
}
